.topicos {
    background: var(--azul-degrade);
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    text-align: center;
    font-weight: 300;
    margin-bottom: 01em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    background-color: var(--laranja-titulo-menu);
    padding: 1.4em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    background-position: 1.5em;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista {
        row-gap: 2em;
    }

    .topicos__link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
        .topicos {
            padding: 3em 20vw;
        }
}